.welcome {
    text-align: center;
    background-image: url("images/dance.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 640px;
    margin-top: 0px;
    padding-top: 30px;
}

p {
    font-size: 20px;
    color: white;
}

.desk {
    width: 500px;
    padding: 40px;
    text-align: center;
    margin-left: 480px;
    margin-top: 100px;
    background-color: gray;
    border-radius: 20px;
    opacity: 0.7;
}

a {
    background-color: rgb(35, 92, 214);
    font-family: sans-serif;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

.find {
    background-color: aqua;
    opacity: 0.5;
    width: 400px;
    margin-left: 550px;
}